<!DOCTYPE html>
<html lang="en">
<head>
    {# TODO temporary favicon, fix? #}
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <title>Vinterviken Status</title>
</head>
<body>
<div hx-ext="sse" sse-connect="/events" sse-swap="message">
{{ updated_time }}
</div>
<h4>Current court status:</h4>
{{ render_partial('partials/court_context.html', courts=courts, context='available') }}
<br>
<h4>Next hour court status:</h4>
{{ render_partial('partials/court_context.html', courts=courts, context='booked') }}
<br>
<h4>Two hour court status:</h4>
{{ render_partial('partials/court_context.html', courts=courts, context='booked2h') }}
</body>
</html>